@use "mixins/function";
@use 'common/var';

a {
  color: var(--color-primary);
  text-decoration: none;

  &:hover,
  &:focus {
    color: function.lightness(--color-primary-h, --color-primary-s, ---color-primary-l, var.$button-hover-tint-percent)
  }

  &:active {
    color: function.saturation(--color-primary-h, --color-primary-s, --color-primary-l, -(var.$button-active-shade-percent));
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var.$color-text-regular;
  font-weight: inherit;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: #{var.$font-size-base + 6px};
}

h2 {
  font-size: #{var.$font-size-base + 4px};
}

h3 {
  font-size: #{var.$font-size-base + 2px};
}

h4, h5, h6, p {
  font-size: inherit;
}

p {
  line-height: 1.8;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

sup, sub {
  font-size: #{var.$font-size-base - 1px};
}

small {
  font-size: #{var.$font-size-base - 2px};
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
