@use "~element-theme-n8n/src/_tokens.scss";
@use "~element-theme-n8n/src/_tokens.dark.scss" as dark;
@use "~element-theme-n8n/src/base.scss" with (
	$font-path: '~element-ui/lib/theme-chalk/fonts',
);
@use "~element-theme-n8n/src/button.scss";

/**
// auto dark mode
@media (prefers-color-scheme: dark) {
	body {
		@include dark.theme;
	}
}
*/