/* Error: Can't find stylesheet to import.
 *   ,
 * 9 | @import "~element-theme-n8n/src/base.scss";
 *   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   src/styles/_element-ui.scss 9:9  @import
 *   src/styles/globals.scss 2:9      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 9 \2502  @import \"~element-theme-n8n/src/base.scss\";\a   \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   src/styles/_element-ui.scss 9:9  @import\a   src/styles/globals.scss 2:9      root stylesheet";
}
