*, *::before, *::after {
	box-sizing: border-box;
}

body {
	overscroll-behavior-x: none;
	line-height: 1;
	font-size: var(--font-size-m);
	color: var(--color-text-dark);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body, button, input {
	font-family: var(--font-family);
	font-weight: var(--font-weight-regular);
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

// todo add more https://github.com/richclark/HTML5resetCSS/commit/22a67cb1dc14f69b4229ceb505f1882a769fa949