@use "../common/var";
@use "function";

@mixin button-plain($color, $h, $s, $l) {
  color: hsl(var(#{$h}), var(#{$s}), var(#{$l}));
  background: unset;
  border-color: function.lightness($h, $s, $l, var.$button-hover-tint-percent);

  &:active {
    border-color: function.lightness($h, $s, $l, -(var.$button-active-shade-percent));
    color: function.lightness($h, $s, $l, -(var.$button-active-shade-percent));
    outline: none;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: var(--color-text-light);;
      background-color: unset;
      border-color: var(--color-foreground-base);
    }
  }
}

@mixin button-variant($color, $background-color, $border-color, $h, $s, $l, $t) {
  color: $color;
  background-color: hsl(var(#{$h}), var(#{$s}), var(#{$l}));
  border-color: hsl(var(#{$h}), var(#{$s}), var(#{$l}));

  &:active {
    background: function.lightness($h, $s, $l, -(var.$button-active-shade-percent));
    border-color: function.lightness($h, $s, $l, -(var.$button-active-shade-percent));
    color: $color;
    outline: none;
  }

  &.is-active {
    background: function.lightness($h, $s, $l, -(var.$button-active-shade-percent));
    border-color: function.lightness($h, $s, $l, -(var.$button-active-shade-percent));
    color: $color;
  }

  &.is-light {
	color: hsl(var(#{$h}), var(#{$s}), var(#{$l}));;
	background-color:  hsl(var(#{$h}), var(#{$s}), var(#{$t}));
	border-color:  hsl(var(#{$h}), var(#{$s}), var(#{$t}));
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: var(--color-text-light);
      background-color: var(--color-foreground-base);
      border-color: var(--color-foreground-base);
    }
  }

  &.is-plain {
    @include button-plain($background-color, $h, $s, $l,);
  }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;

  &.is-round {
    padding: $padding-vertical $padding-horizontal;
  }
}
